<!-- Navigation menu -->
<header class="header">
	<div class="container">
		<!-- Custom navbar -->
		<nav class="nav" id="nav">
			<a class="nav__toggle" role="button" id="nav-toggle">
				<span></span>
				<span></span>
				<span></span>
			</a>
            <a class="navbar__logo" href="#!">
				<span class="navbar__sample">Logo</span>
            </a>
			<ul class="nav__list">
                <li><a href="#hero">Home</a></li>
                <li><a href="#boxes">Menu 2</a></li>
                <li><a href="#cards">Menu 3</a></li>
                <li><a href="#cards-lower">Menu 4</a></li>
                <li><a href="#!">Menu 5</a></li>					
			</ul>
		</nav>
	</div>
</header>